<main>
  <details>
    <summary>State</summary>
    <div>
      <p>Player ID: {@player_id}</p>
      <p>Sequence: {@sequence}</p>
      <p>Hand: {inspect(@hand)}</p>
      <p>Opponents: {inspect(@opponents)}</p>
      <p>Top Card: {inspect(@top_card)}</p>
      <p>Direction: {@direction}</p>
      <p>Vulnerable Player ID: {@vulnerable_player_id}</p>
      <p>Chain: {inspect(@chain)}</p>
    </div>
  </details>
</main>
